<footer class="page-footer red darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">

      </div>
    </div>
  </div>
  <div class="footer-copyright red darken-2">
    <h5 class="white-text">&copy; 2015 Turing: Lenny Myerson, James Crockett, Gregory Armstrong</h5>
  </div>
</footer>
