<br/>
<div class="container">
  <table class="striped highlight white responsive-table bordered centered">
    <caption>
      <h3>HTTP Request Types</h3>
    </caption>
    <thead>
      <tr>
        <th data-field="verb">Verb</th>
      </tr>
    </thead>

    <tbody>
      <% @client.payloads.show_request_types.each do |verb| %>
      <tr>
        <td><%= verb %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
