<br/>
<div class="container">
  <table class="striped highlight white responsive-table bordered centered">
    <caption>
      <h3>URL Links</h3>
    </caption>
    <thead>
      <tr>
        <th data-field="URL">URL</th>
      </tr>
    </thead>

    <tbody>
      <% @client.payloads.url_hyperlinks.each do |path| %>
      <% temp = path.split(".com/")[1] %>
      <tr>
        <td><a href="/sources/<%= @client.name %>/urls/<%= temp %>"><%= path %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
