<h1>Events Index</h1>
<div class="center-align">
  <div class="container">
  <div class="z-depth-1">
    <%= erb :'partials/_event_index_table' %>
    <br/>
    <br/>
    <br/>
  </div>
</div>
</div>
