<div class="center-align">
  <h1>TrafficSpy</h1>
  <br/>
  <h3>People die, beauty fades, love changes...</h3>
  <br/>
  <h5>but we'll still be watching.</h5>
  <br/>
  <br/>
  <br/>
  <div class="container">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Currently Registered Applications</h4></li>
      <% @client.each do |client| %>
      <a href="/sources/<%= client.name %>/" class="collection-item waves-effect waves-red"><%= client.name.capitalize %></a>
      <% end %>
    </ul>
  </div>
</div>
